<% include ./partials/header.ejs %>

<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.title %></div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounder image" src="<%= blog.image %>">
      <div class="content">
        <span><%= blog.created.toDateString() %></span>
      </div>
      <div class="description">
        <p><%- blog.body %></p>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>

<%# NOTE: Using a dash instead of equals in the ejs tag means ejs will treat the injected text like code. So HTML written in the post will work. %>